<header>
  <div class="ordenado">
    <div class="links col-12">
      <div class="text-light py-2 col-6">
        <div class="py-3 px-3">
          <h2>Bienvenido <%=nombre.pseudonimo%></h2>
          <a href="/admin/editarPerfil">Editar perfil</a>
        </div>
      </div>
      <div class="alinks col-6">
        <a href="/admin/index" class="px-3 text-sucess">
          <i class="fas fa-user-circle fa-3x"></i>
        </a>
        <a href="/proceso_cerrar" class="px-3 text-danger">
          <i class="fas fa-sign-out-alt fa-3x" alt="Cerrar sesion"></i>
        </a>
      </div>
    </div>
  </div>
</header>
